*  { 
    padding : 0px ; 
    margin : 0px ; 
} 

#site-box{
    width: 752px; 
    border: 1px solid #FF9900;
    margin : 5px auto;
}


#a-box{
    wigth:400px; height:300px; padding:15px;
    border-bottom:1px solid #FF9900;
    background-image: url("./img/635.jpg");
    background-size: cover;
    padding: 20px;
}

.boldtext {
    font-family:'Lucida Grande',
        'Hiragino Kaku Gothic ProN', sans-serif;
    color: #008B8B;
}

#b-box{
    float:left;
    width: 500px;
}

#c-box{
    float:right;
    width: 250px;
    font-size: 12px;
}

#d-box{
    clear:both;
    width:732px;
    background-color: #FFFF99;
    font-size: 12px;
    padding: 10px;
    text-align: center;
} 

h1{
    font-size: 22px;     
}

h2{
    font-size: 17px;
    background-color: #FFFF99; 
    padding: 10px;
    margin: 5px;
}

h3{
    font-size: 15px;
    color: #EE9900;
    margin: 5px;      
}

p{
    font-size: 14px;  
    margin: 30px;    
}

ul{
    padding : 10px 5px 10px 30px; 
}


.category{
    font-size: 14px; 
    color: #48D1CC;
    background-color: #FFFF99;
    padding: 5px;
    margin: 5px;    
}